## The plain vanilla schedule

In [1]:
import gurobipy as gp
from gurobipy import GRB
from gurobipy import *
import pandas as pd
import numpy as np

In [2]:
Team_list={
0:"Atlanta Falcons",1:"Carolina Panthers",2:"Chicago Bears",3:"Detroit Lions",
4:"Green Bay Packers",5:"Minnesota Vikings",6:"New Orleans Saints",7:"New York Giants",
8:"Philadelpia Eagles",9:"Tampa Bay Buccaneers",10:"Washington Football Team",11:"Baltimore Ravens",
12:"Buffalo Bills",13:"Cincinnati Bengals",14:"Cleveland Browns",15:"Houston Texans",
16:"Indianapolis Colts",17:"Jacksonville Jaguars",18:"Miami Dolphins",19:"New England Patroits",
20:"New York Jets",21:"Pittsburgh Steelers",22:"Tennessee Titans",23:"Dalls Cowboys"}

In [3]:
W=set(list(range(0,12))) #set of weeks, total of 12 weeks
T=set(list(range(0,24))) #set of teams all, total of 24 teams
 #set of conference
D1=set(list(range(0,12)))  #set of AFC teams
D2=set(list(range(12,24))) #set of NFC teams

#read the distance file
E=pd.read_csv("distance.csv",index_col=0)

In [4]:
W

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [5]:
T

{0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23}

In [6]:
E

,Atlanta Falcons,Carolina Panthers,Chicago Bears,Detroit Lions,Green Bay Packers,Minnesota Vikings,New Orleans Saints,New York Giants,Philadelpia Eagles,Tampa Bay Buccaneers,...,Cleveland Browns,Houston Texans,Indianapolis Colts,Jacksonville Jaguars,Miami Dolphins,New England Patroits,New York Jets,Pittsburgh Steelers,Tennessee Titans,Dallas Cowboys
Atlanta Falcons,0,245,717,722,922,1113,470,864,777,456,...,710,793,534,346,650,1063,864,685,250,793
Carolina Panthers,245,0,756,629,961,1163,715,625,537,580,...,515,1038,585,383,717,824,625,447,409,1026
Chicago Bears,717,756,0,284,207,409,925,787,758,1173,...,344,1082,184,1062,1367,982,787,460,472,967
Detroit Lions,722,629,284,0,489,691,1067,613,583,1178,...,170,1302,287,1010,1385,706,613,286,534,1187
Green Bay Packers,922,961,207,489,0,279,1130,993,964,1382,...,550,1287,394,1272,1578,1189,995,668,683,1173
Minnesota Vikings,1113,1163,409,691,279,0,1199,1195,1165,1580,...,752,1176,591,1435,1774,1389,1195,868,879,940
New Orleans Saints,470,715,925,1067,1130,1199,0,1311,1124,657,...,1051,348,819,546,851,1510,1311,1090,532,505
New York Giants,864,625,787,613,993,1195,1311,0,96,1131,...,456,1629,728,934,1268,204,0,364,886,1549
Philadelpia Eagles,777,537,758,583,964,1165,1124,96,0,1042,...,431,1547,643,846,1179,295,96,305,804,1467
Tampa Bay Buccaneers,456,580,1173,1178,1382,1580,657,1131,1042,0,...,1094,981,990,199,267,1328,1129,1026,705,1103
Washington Football Team,646,407,703,529,909,1111,1096,223,134,911,...,379,1420,583,715,1048,422,222,252,677,1340
Baltimore Ravens,676,437,702,528,908,1109,1122,189,101,941,...,374,1446,578,751,1085,392,193,247,703,1366
Buffalo Bills,888,651,528,270,734,935,1230,355,362,1230,...,185,1477,494,1033,1367,461,359,211,700,1362
Cincinnati Bengals,461,462,297,263,507,704,802,662,573,916,...,250,1049,112,796,1111,840,641,288,273,934
Cleveland Browns,710,515,344,170,550,752,1051,456,431,1094,...,0,1297,315,896,1230,639,460,133,521,1183
Houston Texans,793,1038,1082,1302,1287,1176,348,1629,1547,981,...,1297,0,1014,870,1175,1834,1635,1336,779,239
Indianapolis Colts,534,585,184,287,394,591,819,728,643,990,...,315,1014,0,879,1183,929,733,359,288,900
Jacksonville Jaguars,346,383,1062,1010,1272,1435,546,934,846,199,...,896,870,879,0,333,1131,932,829,595,992
Miami Dolphins,650,717,1367,1385,1578,1774,851,1268,1179,267,...,1230,1175,1183,333,0,1465,1266,1163,899,1297
New England Patroits,1063,824,982,706,1189,1389,1510,204,295,1328,...,639,1834,929,1131,1465,0,216,571,1085,1748
New York Jets,864,625,787,613,995,1195,1311,0,96,1129,...,460,1635,733,932,1266,216,0,371,891,1554
Pittsburgh Steelers,685,447,460,286,668,868,1090,364,305,1026,...,133,1336,359,829,1163,571,371,0,561,1223
Tennessee Titans,250,409,472,534,683,879,532,886,804,705,...,521,779,288,595,899,1085,891,561,0,664
Dalls Cowboys,793,1026,967,1187,1173,940,505,1549,1467,1103,...,1183,239,900,992,1297,1748,1554,1223,664,0

In [7]:
# Create an empty model
m1= gp.Model(name="NFL1")

Using license file C:\Users\Q_Ali\gurobi.lic
Academic license - for non-commercial use only

#### ADD DECISION VARIABLES

X_i_j_k = 1, if team i plays at home against team j at week k
<br>
X_i_j_k = 0, otherwise

In [8]:
home=len(E.columns)
away=len(E.columns)
weeks=12
#if team i plays at home against team j at week k
x = m1.addVars(home, away, weeks, vtype = GRB.BINARY, name = "x")

#### Add Objective function

In [9]:
# Objective is to minimize the total distance of all teams
#obj = sum(sum(x[w,h,a]*2*E.iloc[h,a] for h in range(home) for a in range(away)) for w in range(weeks))
obj = sum(sum(x[h,a,w]*2*E.iloc[h,a] for w in range(weeks)) for h in range(home) for a in range(away))

#### ADD CONSTRAINTS HERE

In [10]:
#The season was limited to 12 weeks.
con1 = m1.addConstrs(sum(x[h,a,w] + x[a,h,w] for w in range(weeks) for h in range(home)) == 12 
                     for a in range(away))

In [11]:
#each team would play once per week
con2 = m1.addConstrs(sum(x[h,a,w] + x[a,h,w] for h in range(home)) == 1 
                    for a in range(away) for w in range(weeks))

In [12]:
#add constraints that all 12 games that a team played would need to be against a different opponent 
con3 = m1.addConstrs(sum(x[h,a,w] + x[a,h,w] for w in range(weeks)) <= 1
                    for h in range(home) for a in range(away))

In [13]:
#add constraints that each team would play at most 6 home games
con4 = m1.addConstrs(sum(x[h,a,w] for h in range(home) for w in range(weeks)) <= 6 for a in range(away))

In [14]:
#add constraints that no team can plays itself
con = m1.addConstrs((x[h,h,w] == 0 for h in range(home) for w in range(weeks)))

#### Optimization

In [23]:
m1.setObjective(obj, GRB.MINIMIZE)
m1.optimize()

Gurobi Optimizer version 9.0.3 build v9.0.3rc0 (win64)
Optimize a model with 1200 rows, 6912 columns and 47808 nonzeros
Model fingerprint: 0x9de9a4c9
Variable types: 0 continuous, 6912 integer (6912 binary)
Coefficient statistics:
  Matrix range     [1e+00, 2e+00]
  Objective range  [7e+01, 4e+03]
  Bounds range     [1e+00, 1e+00]
  RHS range        [1e+00, 1e+01]

Loaded MIP start from previous solve with objective 165908

Presolve removed 612 rows and 288 columns
Presolve time: 0.05s
Presolved: 588 rows, 6624 columns, 26496 nonzeros
Variable types: 0 continuous, 6624 integer (6624 binary)

Root relaxation: cutoff, 3689 iterations, 0.23 seconds

    Nodes    |    Current Node    |     Objective Bounds      |     Work
 Expl Unexpl |  Obj  Depth IntInf | Incumbent    BestBd   Gap | It/Node Time

     0     0     cutoff    0      165908.000 165908.000  0.00%     -    0s

Explored 0 nodes (3689 simplex iterations) in 0.30 seconds
Thread count was 8 (of 8 available processors)

Solution count 1: 165908

Optimal solution found (tolerance 1.00e-04)
Best objective 1.659080000000e+05, best bound 1.659080000000e+05, gap 0.0000%

#### print the total distance travelled by all teams

In [16]:
print('\nValue of objective function: %g' % m1.objVal)

Value of objective function: 165908

In [17]:
# ADD PRINTING HERE:
# print the total distance travelled by all teams

if m1.status == GRB.OPTIMAL:
    # Print solution
    print("\nTotal distance: {}\n". format(m1.ObjVal))    

# print the optimal schedule for the decision variables

print('\nDecision variables:')
for v in m1.getVars():
    if v.x== 1:
        s=("%s : %g" % (v.varName, v.obj))
        print(s)

Total distance: 165908.0


Decision variables:
x[0,5,8] : 2226
x[0,9,4] : 912
x[0,13,3] : 922
x[0,17,6] : 692
x[0,22,5] : 500
x[0,23,0] : 1586
x[1,0,11] : 490
x[1,6,6] : 1430
x[1,8,7] : 1074
x[1,17,4] : 766
x[1,19,1] : 1648
x[1,20,9] : 1250
x[2,3,9] : 568
x[2,12,6] : 1056
x[2,14,4] : 688
x[2,15,11] : 2164
x[2,21,3] : 920
x[2,23,8] : 1934
x[3,5,7] : 1382
x[3,7,6] : 1226
x[3,13,8] : 526
x[3,14,1] : 340
x[3,16,0] : 574
x[3,19,3] : 1412
x[4,2,0] : 414
x[4,3,4] : 978
x[4,6,8] : 2260
x[4,15,9] : 2574
x[4,16,5] : 788
x[4,19,10] : 2378
x[5,2,5] : 818
x[5,4,1] : 558
x[5,13,9] : 1408
x[5,14,6] : 1504
x[5,15,10] : 2352
x[5,23,3] : 1880
x[6,0,9] : 940
x[6,2,7] : 1850
x[6,5,0] : 2398
x[6,15,2] : 696
x[6,22,10] : 1064
x[6,23,5] : 1010
x[7,1,3] : 1250
x[7,8,8] : 192
x[7,11,4] : 378
x[7,12,0] : 710
x[7,18,1] : 2536
x[7,20,11] : 0
x[8,3,11] : 1166
x[8,10,3] : 268
x[8,11,5] : 202
x[8,12,10] : 724
x[8,17,2] : 1692
x[8,18,0] : 2358
x[9,1,8] : 1160
x[9,6,11] : 1314
x[9,8,1] : 2084
x[9,10,6] : 1822
x[9,11,2] : 1882
x[9,20,5] : 2258
x[10,0,7] : 1292
x[10,1,10] : 814
x[10,7,9] : 446
x[10,18,8] : 2096
x[10,19,2] : 844
x[10,20,0] : 444
x[11,1,0] : 874
x[11,10,1] : 68
x[11,12,7] : 696
x[11,17,8] : 1502
x[11,18,3] : 2170
x[11,21,6] : 494
x[12,3,5] : 540
x[12,4,11] : 1468
x[12,5,2] : 1870
x[12,10,4] : 776
x[12,14,8] : 370
x[12,19,9] : 922
x[13,2,2] : 594
x[13,4,7] : 1014
x[13,14,5] : 500
x[13,16,11] : 224
x[13,21,0] : 576
x[13,22,4] : 546
x[14,4,2] : 1100
x[14,7,10] : 912
x[14,11,9] : 748
x[14,19,0] : 1278
x[14,20,7] : 920
x[14,21,11] : 266
x[15,0,1] : 1586
x[15,1,5] : 2076
x[15,9,3] : 1962
x[15,16,7] : 2028
x[15,18,6] : 2350
x[15,22,8] : 1558
x[16,0,2] : 1068
x[16,2,10] : 368
x[16,5,4] : 1182
x[16,6,1] : 1638
x[16,14,3] : 630
x[16,23,9] : 1800
x[17,6,3] : 1092
x[17,7,7] : 1868
x[17,9,10] : 398
x[17,10,11] : 1430
x[17,15,0] : 1740
x[17,18,5] : 666
x[18,0,10] : 1300
x[18,1,2] : 1434
x[18,6,4] : 1702
x[18,9,9] : 534
x[18,22,7] : 1798
x[18,23,11] : 2594
x[19,7,5] : 408
x[19,8,4] : 590
x[19,11,11] : 784
x[19,13,6] : 1680
x[19,20,8] : 432
x[19,21,7] : 1142
x[20,3,2] : 1226
x[20,8,6] : 192
x[20,11,10] : 386
x[20,12,3] : 718
x[20,13,1] : 1282
x[20,21,4] : 742
x[21,3,10] : 572
x[21,7,2] : 728
x[21,8,9] : 610
x[21,10,5] : 504
x[21,12,1] : 422
x[21,16,8] : 718
x[22,2,1] : 944
x[22,4,3] : 1366
x[22,5,11] : 1758
x[22,9,0] : 1410
x[22,16,6] : 576
x[22,17,9] : 1190
x[23,4,6] : 2346
x[23,9,7] : 2206
x[23,13,10] : 1868
x[23,15,4] : 478
x[23,17,1] : 1984
x[23,22,2] : 1328

In [18]:
# print the optimal schedule for Cleveland Browns, 14

x[14,2,2] : 688
x[14,3,8] : 340
x[14,7,6] : 912
x[14,12,3] : 370
x[14,19,7] : 1278
x[14,21,11] : 266
x[4,14,9] : 1100
x[5,14,1] : 1504
x[11,14,5] : 748
x[13,14,10] : 500
x[16,14,4] : 630  
x[20,14,0] : 920

In [19]:
print('\nDecision variables:')
for v in m1.getVars():
    if v.x== 1:
        s=("%s : %g" % (v.varName, v.obj))
        print(s)

Decision variables:
x[0,5,8] : 2226
x[0,9,4] : 912
x[0,13,3] : 922
x[0,17,6] : 692
x[0,22,5] : 500
x[0,23,0] : 1586
x[1,0,11] : 490
x[1,6,6] : 1430
x[1,8,7] : 1074
x[1,17,4] : 766
x[1,19,1] : 1648
x[1,20,9] : 1250
x[2,3,9] : 568
x[2,12,6] : 1056
x[2,14,4] : 688
x[2,15,11] : 2164
x[2,21,3] : 920
x[2,23,8] : 1934
x[3,5,7] : 1382
x[3,7,6] : 1226
x[3,13,8] : 526
x[3,14,1] : 340
x[3,16,0] : 574
x[3,19,3] : 1412
x[4,2,0] : 414
x[4,3,4] : 978
x[4,6,8] : 2260
x[4,15,9] : 2574
x[4,16,5] : 788
x[4,19,10] : 2378
x[5,2,5] : 818
x[5,4,1] : 558
x[5,13,9] : 1408
x[5,14,6] : 1504
x[5,15,10] : 2352
x[5,23,3] : 1880
x[6,0,9] : 940
x[6,2,7] : 1850
x[6,5,0] : 2398
x[6,15,2] : 696
x[6,22,10] : 1064
x[6,23,5] : 1010
x[7,1,3] : 1250
x[7,8,8] : 192
x[7,11,4] : 378
x[7,12,0] : 710
x[7,18,1] : 2536
x[7,20,11] : 0
x[8,3,11] : 1166
x[8,10,3] : 268
x[8,11,5] : 202
x[8,12,10] : 724
x[8,17,2] : 1692
x[8,18,0] : 2358
x[9,1,8] : 1160
x[9,6,11] : 1314
x[9,8,1] : 2084
x[9,10,6] : 1822
x[9,11,2] : 1882
x[9,20,5] : 2258
x[10,0,7] : 1292
x[10,1,10] : 814
x[10,7,9] : 446
x[10,18,8] : 2096
x[10,19,2] : 844
x[10,20,0] : 444
x[11,1,0] : 874
x[11,10,1] : 68
x[11,12,7] : 696
x[11,17,8] : 1502
x[11,18,3] : 2170
x[11,21,6] : 494
x[12,3,5] : 540
x[12,4,11] : 1468
x[12,5,2] : 1870
x[12,10,4] : 776
x[12,14,8] : 370
x[12,19,9] : 922
x[13,2,2] : 594
x[13,4,7] : 1014
x[13,14,5] : 500
x[13,16,11] : 224
x[13,21,0] : 576
x[13,22,4] : 546
x[14,4,2] : 1100
x[14,7,10] : 912
x[14,11,9] : 748
x[14,19,0] : 1278
x[14,20,7] : 920
x[14,21,11] : 266
x[15,0,1] : 1586
x[15,1,5] : 2076
x[15,9,3] : 1962
x[15,16,7] : 2028
x[15,18,6] : 2350
x[15,22,8] : 1558
x[16,0,2] : 1068
x[16,2,10] : 368
x[16,5,4] : 1182
x[16,6,1] : 1638
x[16,14,3] : 630
x[16,23,9] : 1800
x[17,6,3] : 1092
x[17,7,7] : 1868
x[17,9,10] : 398
x[17,10,11] : 1430
x[17,15,0] : 1740
x[17,18,5] : 666
x[18,0,10] : 1300
x[18,1,2] : 1434
x[18,6,4] : 1702
x[18,9,9] : 534
x[18,22,7] : 1798
x[18,23,11] : 2594
x[19,7,5] : 408
x[19,8,4] : 590
x[19,11,11] : 784
x[19,13,6] : 1680
x[19,20,8] : 432
x[19,21,7] : 1142
x[20,3,2] : 1226
x[20,8,6] : 192
x[20,11,10] : 386
x[20,12,3] : 718
x[20,13,1] : 1282
x[20,21,4] : 742
x[21,3,10] : 572
x[21,7,2] : 728
x[21,8,9] : 610
x[21,10,5] : 504
x[21,12,1] : 422
x[21,16,8] : 718
x[22,2,1] : 944
x[22,4,3] : 1366
x[22,5,11] : 1758
x[22,9,0] : 1410
x[22,16,6] : 576
x[22,17,9] : 1190
x[23,4,6] : 2346
x[23,9,7] : 2206
x[23,13,10] : 1868
x[23,15,4] : 478
x[23,17,1] : 1984
x[23,22,2] : 1328

In [20]:
# Q3: print minimum distance that each team travels

In [21]:
print('\nValue of objective function: %g' % m1.objVal)

Value of objective function: 165908

In [22]:
# Q4: How does the home and away game pattern look like for the Cleveland Browns?

Cleveland Browns hosts 6 home games and travel 6 times for away games. Its total travel distance for away games is 5402 miles and its opponents' travel distance to Cleveland Browns home game is 3854 miles.