## Game pattern and bye week constraints

In [1]:
import gurobipy as gp
from gurobipy import GRB
from gurobipy import *
import pandas as pd
import numpy as np

In [2]:
Team_list={
0:"Atlanta Falcons",1:"Carolina Panthers",2:"Chicago Bears",3:"Detroit Lions",
4:"Green Bay Packers",5:"Minnesota Vikings",6:"New Orleans Saints",7:"New York Giants",
8:"Philadelpia Eagles",9:"Tampa Bay Buccaneers",10:"Washington Football Team",11:"Baltimore Ravens",
12:"Buffalo Bills",13:"Cincinnati Bengals",14:"Cleveland Browns",15:"Houston Texans",
16:"Indianapolis Colts",17:"Jacksonville Jaguars",18:"Miami Dolphins",19:"New England Patroits",
20:"New York Jets",21:"Pittsburgh Steelers",22:"Tennessee Titans",23:"Dalls Cowboys"}

In [3]:
W=set(list(range(0,12))) #set of weeks, total of 12 weeks
T=set(list(range(0,24))) #set of teams all, total of 24 teams
 #set of conference
D1=set(list(range(0,12)))  #set of AFC teams
D2=set(list(range(12,24))) #set of NFC teams

#read the distance file
E=pd.read_csv("distance.csv",index_col=0)

In [4]:
W

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [5]:
T

{0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23}

In [6]:
E

,Atlanta Falcons,Carolina Panthers,Chicago Bears,Detroit Lions,Green Bay Packers,Minnesota Vikings,New Orleans Saints,New York Giants,Philadelpia Eagles,Tampa Bay Buccaneers,...,Cleveland Browns,Houston Texans,Indianapolis Colts,Jacksonville Jaguars,Miami Dolphins,New England Patroits,New York Jets,Pittsburgh Steelers,Tennessee Titans,Dallas Cowboys
Atlanta Falcons,0,245,717,722,922,1113,470,864,777,456,...,710,793,534,346,650,1063,864,685,250,793
Carolina Panthers,245,0,756,629,961,1163,715,625,537,580,...,515,1038,585,383,717,824,625,447,409,1026
Chicago Bears,717,756,0,284,207,409,925,787,758,1173,...,344,1082,184,1062,1367,982,787,460,472,967
Detroit Lions,722,629,284,0,489,691,1067,613,583,1178,...,170,1302,287,1010,1385,706,613,286,534,1187
Green Bay Packers,922,961,207,489,0,279,1130,993,964,1382,...,550,1287,394,1272,1578,1189,995,668,683,1173
Minnesota Vikings,1113,1163,409,691,279,0,1199,1195,1165,1580,...,752,1176,591,1435,1774,1389,1195,868,879,940
New Orleans Saints,470,715,925,1067,1130,1199,0,1311,1124,657,...,1051,348,819,546,851,1510,1311,1090,532,505
New York Giants,864,625,787,613,993,1195,1311,0,96,1131,...,456,1629,728,934,1268,204,0,364,886,1549
Philadelpia Eagles,777,537,758,583,964,1165,1124,96,0,1042,...,431,1547,643,846,1179,295,96,305,804,1467
Tampa Bay Buccaneers,456,580,1173,1178,1382,1580,657,1131,1042,0,...,1094,981,990,199,267,1328,1129,1026,705,1103
Washington Football Team,646,407,703,529,909,1111,1096,223,134,911,...,379,1420,583,715,1048,422,222,252,677,1340
Baltimore Ravens,676,437,702,528,908,1109,1122,189,101,941,...,374,1446,578,751,1085,392,193,247,703,1366
Buffalo Bills,888,651,528,270,734,935,1230,355,362,1230,...,185,1477,494,1033,1367,461,359,211,700,1362
Cincinnati Bengals,461,462,297,263,507,704,802,662,573,916,...,250,1049,112,796,1111,840,641,288,273,934
Cleveland Browns,710,515,344,170,550,752,1051,456,431,1094,...,0,1297,315,896,1230,639,460,133,521,1183
Houston Texans,793,1038,1082,1302,1287,1176,348,1629,1547,981,...,1297,0,1014,870,1175,1834,1635,1336,779,239
Indianapolis Colts,534,585,184,287,394,591,819,728,643,990,...,315,1014,0,879,1183,929,733,359,288,900
Jacksonville Jaguars,346,383,1062,1010,1272,1435,546,934,846,199,...,896,870,879,0,333,1131,932,829,595,992
Miami Dolphins,650,717,1367,1385,1578,1774,851,1268,1179,267,...,1230,1175,1183,333,0,1465,1266,1163,899,1297
New England Patroits,1063,824,982,706,1189,1389,1510,204,295,1328,...,639,1834,929,1131,1465,0,216,571,1085,1748
New York Jets,864,625,787,613,995,1195,1311,0,96,1129,...,460,1635,733,932,1266,216,0,371,891,1554
Pittsburgh Steelers,685,447,460,286,668,868,1090,364,305,1026,...,133,1336,359,829,1163,571,371,0,561,1223
Tennessee Titans,250,409,472,534,683,879,532,886,804,705,...,521,779,288,595,899,1085,891,561,0,664
Dalls Cowboys,793,1026,967,1187,1173,940,505,1549,1467,1103,...,1183,239,900,992,1297,1748,1554,1223,664,0

In [7]:
# Create an empty model
m1= gp.Model(name="NFL1")

Using license file C:\Users\Q_Ali\gurobi.lic
Academic license - for non-commercial use only

#### ADD DECISION VARIABLES

In [8]:
home=len(E.columns)
away=len(E.columns)
weeks=12
#if team h plays at home against team j at week k
x = m1.addVars(home, away, weeks, vtype = GRB.BINARY, name = "x")

In [9]:
#if team h plays at home in week k and k+1
y = m1.addVars(home, weeks, vtype = GRB.BINARY, name = "y")

In [10]:
#if team h plays at away in week k and k+1
z = m1.addVars(home, weeks, vtype = GRB.BINARY, name = "z")

#### Add Objective function

In [11]:
# Objective is to minimize the total distance of all teams
#obj = sum(sum(x[w,h,a]*2*E.iloc[h,a] for h in range(home) for a in range(away)) for w in range(weeks))
obj = sum(sum(x[h,a,w]*2*E.iloc[h,a] for w in range(weeks)) for h in range(home) for a in range(away))

#### ADD CONSTRAINTS HERE

In [12]:
#The season was limited to 12 weeks.
con1 = m1.addConstrs(sum(x[h,a,w] + x[a,h,w] for w in range(weeks) for h in range(home)) == 12 
                     for a in range(away))

In [13]:
#each team would play once per week
con2 = m1.addConstrs(sum(x[h,a,w] + x[a,h,w] for h in range(home)) == 1 
                    for a in range(away) for w in range(weeks))

In [14]:
#add constraints that all 12 games that a team played would need to be against a different opponent 
con3 = m1.addConstrs(sum(x[h,a,w] + x[a,h,w] for w in range(weeks)) <= 1
                    for h in range(home) for a in range(away))

In [15]:
#add constraints that each team would play at most 6 home games
con4 = m1.addConstrs(sum(x[h,a,w] for h in range(home) for w in range(weeks)) <= 6 for a in range(away))

In [26]:
#add constraints that no team can plays itself
con = m1.addConstrs((x[h,h,w] == 0 for h in range(home) for w in range(weeks)))

In [16]:
#add constraints that no team would play more than 2 consecutive games in home
con5 = m1.addConstrs(sum(y[h,w] for w in range(weeks)) <= 1 for h in range(home))

In [17]:
#Implication of constraint 5
con5_i = m1.addConstrs(sum(x[h,a,w] + x[h,a,w+1] for a in range(away)) <= 1 + y[h,w] for w in range(weeks-1) for h in range(home))

In [18]:
#add constraints that no team would play more than 2 consecutive games in away
con6 = m1.addConstrs(sum(z[h,w] for w in range(weeks)) <= 1 for h in range(home))

In [19]:
#Implication of constraint 6
con6_i = m1.addConstrs(sum(x[h,a,w] + x[h,a,w+1] for a in range(away)) <= 1 + z[h,w] for w in range(weeks-1) for h in range(home))

#### Optimization

In [21]:
m1.setObjective(obj, GRB.MINIMIZE)
m1.optimize()

Gurobi Optimizer version 9.0.3 build v9.0.3rc0 (win64)
Optimize a model with 1488 rows, 7488 columns and 73968 nonzeros
Model fingerprint: 0x30c62c3d
Variable types: 0 continuous, 7488 integer (7488 binary)
Coefficient statistics:
  Matrix range     [1e+00, 2e+00]
  Objective range  [7e+01, 4e+03]
  Bounds range     [1e+00, 1e+00]
  RHS range        [1e+00, 1e+01]
Presolve removed 324 rows and 336 columns
Presolve time: 0.06s
Presolved: 1164 rows, 7152 columns, 51840 nonzeros
Variable types: 0 continuous, 7152 integer (7152 binary)

Root relaxation: objective 1.659080e+05, 5008 iterations, 0.59 seconds

    Nodes    |    Current Node    |     Objective Bounds      |     Work
 Expl Unexpl |  Obj  Depth IntInf | Incumbent    BestBd   Gap | It/Node Time

     0     0 165908.000    0  447          - 165908.000      -     -    3s
     0     0 165908.000    0  585          - 165908.000      -     -    4s
     0     0 165908.000    0  366          - 165908.000      -     -    8s
     0     0 165908.000    0  353          - 165908.000      -     -    8s
     0     0 165908.000    0  469          - 165908.000      -     -    9s
     0     0 165908.000    0  383          - 165908.000      -     -   13s
     0     0 165908.000    0  478          - 165908.000      -     -   13s
     0     0 165908.000    0  553          - 165908.000      -     -   17s
H    0     0                    167947.99980 165908.000  1.21%     -   17s
H    0     0                    167650.00000 165908.000  1.04%     -   17s
     0     0 165908.000    0  576 167650.000 165908.000  1.04%     -   17s
     0     0 165908.000    0  495 167650.000 165908.000  1.04%     -   20s
     0     0 165908.000    0  495 167650.000 165908.000  1.04%     -   22s
     0     2 165908.000    0  495 167650.000 165908.000  1.04%     -   26s
     3     8 165908.000    2  626 167650.000 165908.000  1.04%  2695   30s
    19    24 165908.000    4  640 167650.000 165908.000  1.04%  1152   35s
    63    68 165908.000   10  666 167650.000 165908.000  1.04%   748   70s
    67   146 165908.000   10  645 167650.000 165908.000  1.04%   729   78s
   145   796 165908.000   20  620 167650.000 165908.000  1.04%   560   94s
   797  1885 165920.000  129  254 167650.000 165908.000  1.04%   348  100s
  2301  2595 166047.064  169  222 167650.000 165908.000  1.04%   183  105s
  2781  2597 165908.000   92  487 167650.000 165908.000  1.04%   174  114s
  2782  2598 166918.738  397  481 167650.000 165908.000  1.04%   174  121s
  2783  2599 166808.927  287  544 167650.000 165908.000  1.04%   174  132s
  2784  2599 166146.000  144  550 167650.000 165908.000  1.04%   174  135s
  2786  2601 167137.472  384  533 167650.000 165908.000  1.04%   174  140s
  2788  2602 166436.000  296  555 167650.000 165908.000  1.04%   174  145s
  2789  2603 166254.000  118  300 167650.000 165908.000  1.04%   174  150s
H 2790  2472                    166682.00000 165908.000  0.46%   174  156s
  2791  2473 166082.000  174  279 166682.000 165908.000  0.46%   174  160s
  2794  2478 165908.000   13  608 166682.000 165908.000  0.46%   235  182s
  2796  2481 165908.000   14  658 166682.000 165908.000  0.46%   235  204s
  2800  2484 165908.000   15  672 166682.000 165908.000  0.46%   236  212s
  2804  2487 165908.000   15  621 166682.000 165908.000  0.46%   237  217s
  2808  2489 165908.000   16  656 166682.000 165908.000  0.46%   238  220s
  2816  2497 165908.000   17  662 166682.000 165908.000  0.46%   240  225s
  2826  2505 165908.000   18  689 166682.000 165908.000  0.46%   242  230s
  2834  2530 165908.000   19  688 166682.000 165908.000  0.46%   242  238s
  2861  2525 165908.000   22  219 166682.000 165908.000  0.46%   267  287s
  2865  2711 165908.000   22  646 166682.000 165908.000  0.46%   267  311s
  3053  3609 165908.000   43  601 166682.000 165908.000  0.46%   331  343s
  4069  3440 165938.778  170  363 166682.000 165908.000  0.46%   358  353s
* 4177  3276             221    166602.00000 165908.000  0.42%   352  353s
  4376  3330 165984.316  178  386 166602.000 165908.000  0.42%   339  365s
* 4505  2007              22    165908.00000 165908.000  0.00%   351  365s

Cutting planes:
  Gomory: 1
  Clique: 6
  Flow cover: 4

Explored 4552 nodes (1812427 simplex iterations) in 365.97 seconds
Thread count was 8 (of 8 available processors)

Solution count 6: 165908 166602 166682 ... 167948

Optimal solution found (tolerance 1.00e-04)
Best objective 1.659080000000e+05, best bound 1.659080000000e+05, gap 0.0000%

In [22]:
# ADD PRINTING HERE:
# print the total distance travelled by all teams

if m1.status == GRB.OPTIMAL:
    # Print solution
    print("\nTotal distance: {}\n". format(m1.ObjVal))    

# print the optimal schedule for the decision variables

print('\nDecision variables:')
for v in m1.getVars():
    if v.x== 1:
        s=("%s : %g" % (v.varName, v.obj))
        print(s)

Total distance: 165908.0


Decision variables:
x[0,10,3] : 1292
x[0,13,1] : 922
x[0,17,7] : 692
x[0,18,8] : 1300
x[0,22,10] : 500
x[0,23,5] : 1586
x[1,0,4] : 490
x[1,6,1] : 1430
x[1,7,8] : 1250
x[1,8,10] : 1074
x[1,10,0] : 814
x[1,18,6] : 1434
x[2,3,0] : 568
x[2,5,8] : 818
x[2,6,2] : 1850
x[2,13,3] : 594
x[2,15,10] : 2164
x[2,21,6] : 920
x[3,5,3] : 1382
x[3,12,11] : 540
x[3,13,7] : 526
x[3,14,1] : 340
x[3,16,10] : 574
x[3,20,5] : 1226
x[4,2,5] : 414
x[4,3,8] : 978
x[4,12,9] : 1468
x[4,19,1] : 2378
x[4,22,11] : 1366
x[4,23,3] : 2346
x[5,0,2] : 2226
x[5,4,0] : 558
x[5,6,11] : 2398
x[5,13,9] : 1408
x[5,15,4] : 2352
x[5,16,6] : 1182
x[6,0,0] : 940
x[6,4,10] : 2260
x[6,9,3] : 1314
x[6,15,6] : 696
x[6,17,4] : 1092
x[6,23,8] : 1010
x[7,3,2] : 1226
x[7,9,7] : 2262
x[7,14,5] : 912
x[7,17,9] : 1868
x[7,19,3] : 408
x[7,21,0] : 728
x[8,3,6] : 1166
x[8,7,1] : 192
x[8,9,9] : 2084
x[8,11,2] : 202
x[8,19,11] : 590
x[8,20,4] : 192
x[9,0,6] : 912
x[9,1,2] : 1160
x[9,11,8] : 1882
x[9,18,10] : 534
x[9,22,4] : 1410
x[9,23,1] : 2206
x[10,7,10] : 446
x[10,8,8] : 268
x[10,9,11] : 1822
x[10,17,6] : 1430
x[10,20,1] : 444
x[10,21,4] : 504
x[11,1,9] : 874
x[11,7,11] : 378
x[11,10,7] : 68
x[11,12,3] : 696
x[11,17,1] : 1502
x[11,19,5] : 784
x[12,2,7] : 1056
x[12,5,5] : 1870
x[12,7,4] : 710
x[12,8,0] : 724
x[12,10,2] : 776
x[12,20,10] : 718
x[13,4,6] : 1014
x[13,16,0] : 224
x[13,19,10] : 1680
x[13,20,2] : 1282
x[13,21,8] : 576
x[13,23,4] : 1868
x[14,2,4] : 688
x[14,4,2] : 1100
x[14,5,10] : 1504
x[14,11,6] : 748
x[14,12,8] : 370
x[14,13,11] : 500
x[15,0,11] : 1586
x[15,1,3] : 2076
x[15,4,7] : 2574
x[15,9,5] : 1962
x[15,16,8] : 2028
x[15,18,1] : 2350
x[16,0,9] : 1068
x[16,2,1] : 368
x[16,4,4] : 788
x[16,6,5] : 1638
x[16,14,7] : 630
x[16,21,11] : 718
x[17,1,5] : 766
x[17,8,3] : 1692
x[17,9,0] : 398
x[17,15,2] : 1740
x[17,22,8] : 1190
x[17,23,10] : 1984
x[18,6,9] : 1702
x[18,8,7] : 2358
x[18,10,5] : 2096
x[18,11,4] : 2170
x[18,17,11] : 666
x[18,22,2] : 1798
x[19,1,7] : 1648
x[19,3,4] : 1412
x[19,10,9] : 844
x[19,12,6] : 922
x[19,14,0] : 1278
x[19,21,2] : 1142
x[20,1,11] : 1250
x[20,7,6] : 0
x[20,11,0] : 386
x[20,14,9] : 920
x[20,18,3] : 2532
x[20,19,8] : 432
x[21,3,9] : 572
x[21,8,5] : 610
x[21,11,10] : 494
x[21,12,1] : 422
x[21,14,3] : 266
x[21,20,7] : 742
x[22,2,9] : 944
x[22,5,1] : 1758
x[22,6,7] : 1064
x[22,13,5] : 546
x[22,15,0] : 1558
x[22,16,3] : 576
x[23,2,11] : 1934
x[23,5,7] : 1880
x[23,15,9] : 478
x[23,16,2] : 1800
x[23,18,0] : 2594
x[23,22,6] : 1328
y[0,7] : 0
y[1,0] : 0
y[2,2] : 0
y[3,10] : 0
y[4,8] : 0
y[5,10] : 0
y[6,3] : 0
y[7,2] : 0
y[8,1] : 0
y[9,1] : 0
y[10,10] : 0
y[11,6] : 0
y[12,4] : 0
y[13,6] : 0
y[14,10] : 0
y[15,7] : 0
y[16,4] : 0
y[17,2] : 0
y[18,4] : 0
y[19,6] : 0
y[20,8] : 0
y[21,9] : 0
y[22,0] : 0
y[23,6] : 0
z[0,7] : 0
z[1,0] : 0
z[2,2] : 0
z[3,10] : 0
z[4,8] : 0
z[5,10] : 0
z[6,3] : 0
z[7,2] : 0
z[8,1] : 0
z[9,1] : 0
z[10,10] : 0
z[11,5] : 0
z[12,4] : 0
z[13,8] : 0
z[14,10] : 0
z[15,7] : 0
z[16,4] : 0
z[17,2] : 0
z[18,4] : 0
z[19,6] : 0
z[20,8] : 0
z[21,9] : 0
z[22,0] : 0
z[23,6] : 0

#### print the total distance travelled by all teams

In [23]:
print('\nValue of objective function: %g' % m1.objVal)

Value of objective function: 165908

In [24]:
# print the optimal schedule for Cleveland Browns, 14

In [ ]:
x[14,2,4] : 688
x[14,4,2] : 1100
x[14,5,10] : 1504
x[14,11,6] : 748
x[14,12,8] : 370
x[14,13,11] : 500
x[3,14,1] : 340
x[7,14,5] : 912
x[16,14,7] : 630
x[19,14,0] : 1278
x[20,14,9] : 920
x[21,14,3] : 266

In [25]:
C:\gurobi902\win64\examples\python

SyntaxError: unexpected character after line continuation character (<ipython-input-25-3040701c652e>, line 1)