## Game pattern and bye week constraints

In [1]:
import gurobipy as gp
from gurobipy import GRB
from gurobipy import *
import pandas as pd
import numpy as np

In [2]:
Team_list={
0:"Atlanta Falcons",1:"Carolina Panthers",2:"Chicago Bears",3:"Detroit Lions",
4:"Green Bay Packers",5:"Minnesota Vikings",6:"New Orleans Saints",7:"New York Giants",
8:"Philadelpia Eagles",9:"Tampa Bay Buccaneers",10:"Washington Football Team",11:"Baltimore Ravens",
12:"Buffalo Bills",13:"Cincinnati Bengals",14:"Cleveland Browns",15:"Houston Texans",
16:"Indianapolis Colts",17:"Jacksonville Jaguars",18:"Miami Dolphins",19:"New England Patroits",
20:"New York Jets",21:"Pittsburgh Steelers",22:"Tennessee Titans",23:"Dalls Cowboys"}

In [5]:
W=set(list(range(0,12))) #set of weeks, total of 12 weeks
T=set(list(range(0,24))) #set of teams all, total of 24 teams
 #set of conference

#read the distance file
E=pd.read_csv("distance.csv",index_col=0)

In [6]:
W

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [7]:
T

{0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23}

In [8]:
E

,Atlanta Falcons,Carolina Panthers,Chicago Bears,Detroit Lions,Green Bay Packers,Minnesota Vikings,New Orleans Saints,New York Giants,Philadelpia Eagles,Tampa Bay Buccaneers,...,Cleveland Browns,Houston Texans,Indianapolis Colts,Jacksonville Jaguars,Miami Dolphins,New England Patroits,New York Jets,Pittsburgh Steelers,Tennessee Titans,Dallas Cowboys
Atlanta Falcons,0,245,717,722,922,1113,470,864,777,456,...,710,793,534,346,650,1063,864,685,250,793
Carolina Panthers,245,0,756,629,961,1163,715,625,537,580,...,515,1038,585,383,717,824,625,447,409,1026
Chicago Bears,717,756,0,284,207,409,925,787,758,1173,...,344,1082,184,1062,1367,982,787,460,472,967
Detroit Lions,722,629,284,0,489,691,1067,613,583,1178,...,170,1302,287,1010,1385,706,613,286,534,1187
Green Bay Packers,922,961,207,489,0,279,1130,993,964,1382,...,550,1287,394,1272,1578,1189,995,668,683,1173
Minnesota Vikings,1113,1163,409,691,279,0,1199,1195,1165,1580,...,752,1176,591,1435,1774,1389,1195,868,879,940
New Orleans Saints,470,715,925,1067,1130,1199,0,1311,1124,657,...,1051,348,819,546,851,1510,1311,1090,532,505
New York Giants,864,625,787,613,993,1195,1311,0,96,1131,...,456,1629,728,934,1268,204,0,364,886,1549
Philadelpia Eagles,777,537,758,583,964,1165,1124,96,0,1042,...,431,1547,643,846,1179,295,96,305,804,1467
Tampa Bay Buccaneers,456,580,1173,1178,1382,1580,657,1131,1042,0,...,1094,981,990,199,267,1328,1129,1026,705,1103
Washington Football Team,646,407,703,529,909,1111,1096,223,134,911,...,379,1420,583,715,1048,422,222,252,677,1340
Baltimore Ravens,676,437,702,528,908,1109,1122,189,101,941,...,374,1446,578,751,1085,392,193,247,703,1366
Buffalo Bills,888,651,528,270,734,935,1230,355,362,1230,...,185,1477,494,1033,1367,461,359,211,700,1362
Cincinnati Bengals,461,462,297,263,507,704,802,662,573,916,...,250,1049,112,796,1111,840,641,288,273,934
Cleveland Browns,710,515,344,170,550,752,1051,456,431,1094,...,0,1297,315,896,1230,639,460,133,521,1183
Houston Texans,793,1038,1082,1302,1287,1176,348,1629,1547,981,...,1297,0,1014,870,1175,1834,1635,1336,779,239
Indianapolis Colts,534,585,184,287,394,591,819,728,643,990,...,315,1014,0,879,1183,929,733,359,288,900
Jacksonville Jaguars,346,383,1062,1010,1272,1435,546,934,846,199,...,896,870,879,0,333,1131,932,829,595,992
Miami Dolphins,650,717,1367,1385,1578,1774,851,1268,1179,267,...,1230,1175,1183,333,0,1465,1266,1163,899,1297
New England Patroits,1063,824,982,706,1189,1389,1510,204,295,1328,...,639,1834,929,1131,1465,0,216,571,1085,1748
New York Jets,864,625,787,613,995,1195,1311,0,96,1129,...,460,1635,733,932,1266,216,0,371,891,1554
Pittsburgh Steelers,685,447,460,286,668,868,1090,364,305,1026,...,133,1336,359,829,1163,571,371,0,561,1223
Tennessee Titans,250,409,472,534,683,879,532,886,804,705,...,521,779,288,595,899,1085,891,561,0,664
Dalls Cowboys,793,1026,967,1187,1173,940,505,1549,1467,1103,...,1183,239,900,992,1297,1748,1554,1223,664,0

In [9]:
# Create an empty model
m1= gp.Model(name="NFL1")

Using license file C:\Users\Q_Ali\gurobi.lic
Academic license - for non-commercial use only

#### ADD DECISION VARIABLES

In [55]:
home=len(E.columns)
away=len(E.columns)
weeks=13 #Now we extend season period to 13 weeks
W=list(range(0,12))
byeweek = W[8]
#if team h plays at home against team j at week k
x = m1.addVars(home, away, weeks, vtype = GRB.BINARY, name = "x")

In [11]:
#if team h plays at home in week k and k+1
y = m1.addVars(home, weeks, vtype = GRB.BINARY, name = "y")

In [12]:
#if team h plays at away in week k and k+1
z = m1.addVars(home, weeks, vtype = GRB.BINARY, name = "z")

#### Add Objective function

In [13]:
# Objective is to minimize the total distance of all teams
#obj = sum(sum(x[w,h,a]*2*E.iloc[h,a] for h in range(home) for a in range(away)) for w in range(weeks))
obj = sum(sum(x[h,a,w]*2*E.iloc[h,a] for w in range(weeks)) for h in range(home) for a in range(away))

#### ADD CONSTRAINTS HERE

In [15]:
#The season was limited to 12 weeks.
con1 = m1.addConstrs(sum(x[h,a,w] + x[a,h,w] for w in range(weeks) for h in range(home)) == 12 
                     for a in range(away))

In [16]:
#each team would play once per week
con2 = m1.addConstrs(sum(x[h,a,w] + x[a,h,w] for h in range(home)) == 1 
                    for a in range(away) for w in range(weeks))

In [17]:
#add constraints that all 12 games that a team played would need to be against a different opponent 
con3 = m1.addConstrs(sum(x[h,a,w] + x[a,h,w] for w in range(weeks)) <= 1
                    for h in range(home) for a in range(away))

In [18]:
#add constraints that each team would play at most 6 home games
con4 = m1.addConstrs(sum(x[h,a,w] for h in range(home) for w in range(weeks)) <= 6 for a in range(away))

In [42]:
#add constraints that no team can plays itself
con = m1.addConstrs((x[h,h,w] == 0 for h in range(home) for w in range(weeks)))

In [19]:
#add constraints that no team would play more than 2 consecutive games in home
con5 = m1.addConstrs(sum(y[h,w] for w in range(weeks)) <= 1 for h in range(home))

In [20]:
#Implication of constraint 5
con5_i = m1.addConstrs(sum(x[h,a,w] + x[h,a,w+1] for a in range(away)) <= 1 + y[h,w] for w in range(weeks-1) for h in range(home))

In [21]:
#add constraints that no team would play more than 2 consecutive games in away
con6 = m1.addConstrs(sum(z[h,w] for w in range(weeks)) <= 1 for h in range(home))

In [28]:
#Implication of constraint 6
con6_i = m1.addConstrs(sum(x[h,a,w] + x[h,a,w+1] for a in range(away)) <= 1 + z[h,w] for w in range(weeks-1) for h in range(home))

In [64]:
#add constraints that schedulers requested the bye week to be assigned on week 9, which means that there are no games at week 9
con7 = m1.addConstrs(sum(x[h,a,w] + x[a,h,w] for h in range(home) for a in range(away) and for w in range(weeks) == 9) == 0)

SyntaxError: invalid syntax (<ipython-input-64-8618497a61a0>, line 2)

#### Optimization

In [25]:
m1.setObjective(obj, GRB.MINIMIZE)
m1.optimize()

Gurobi Optimizer version 9.0.3 build v9.0.3rc0 (win64)
Optimize a model with 2280 rows, 7488 columns and 112776 nonzeros
Model fingerprint: 0x46ef245f
Variable types: 0 continuous, 7488 integer (7488 binary)
Coefficient statistics:
  Matrix range     [1e+00, 2e+00]
  Objective range  [7e+01, 4e+03]
  Bounds range     [1e+00, 1e+00]
  RHS range        [1e+00, 1e+01]
Presolve removed 1116 rows and 336 columns
Presolve time: 0.07s
Presolved: 1164 rows, 7152 columns, 51840 nonzeros
Variable types: 0 continuous, 7152 integer (7152 binary)

Root relaxation: objective 1.659080e+05, 5212 iterations, 0.61 seconds

    Nodes    |    Current Node    |     Objective Bounds      |     Work
 Expl Unexpl |  Obj  Depth IntInf | Incumbent    BestBd   Gap | It/Node Time

     0     0 165908.000    0  432          - 165908.000      -     -    3s
     0     0 165908.000    0  577          - 165908.000      -     -    4s
H    0     0                    172017.99967 165908.000  3.55%     -    4s
H    0     0                    171924.00000 165908.000  3.50%     -    4s
     0     0 165908.000    0  501 171924.000 165908.000  3.50%     -    7s
H    0     0                    171830.00000 165908.000  3.45%     -    7s
     0     0 165908.000    0  493 171830.000 165908.000  3.45%     -    7s
     0     0 165908.000    0  452 171830.000 165908.000  3.45%     -   10s
     0     0 165908.000    0  437 171830.000 165908.000  3.45%     -   11s
     0     0 165908.000    0  384 171830.000 165908.000  3.45%     -   13s
H    0     0                    170736.00000 165908.000  2.83%     -   14s
     0     0 165908.000    0  549 170736.000 165908.000  2.83%     -   14s
     0     0 165908.000    0  447 170736.000 165908.000  2.83%     -   17s
     0     0 165908.000    0  447 170736.000 165908.000  2.83%     -   19s
     0     2 165908.000    0  409 170736.000 165908.000  2.83%     -   23s
     1     4 165908.000    1  623 170736.000 165908.000  2.83%  4375   25s
     7    12 165908.000    3  648 170736.000 165908.000  2.83%  1322   30s
    29    35 165908.000    5  651 170736.000 165908.000  2.83%  1027   35s
    52    89 165908.000    8  637 170736.000 165908.000  2.83%   804   66s
    88   429 165908.000   12  637 170736.000 165908.000  2.83%   685   83s
   428  1477 165908.000   67  424 170736.000 165908.000  2.83%   420   95s
* 1764  1903             278    167890.00000 165908.000  1.18%   210   99s
  1958  1802 165908.000   17  654 167890.000 165908.000  1.18%   201  102s
  2085  1804 167479.917  358  425 167890.000 165908.000  1.18%   207  112s
  2086  1805 167432.551  245  315 167890.000 165908.000  1.18%   207  119s
  2087  1806 165908.000   22  218 167890.000 165908.000  1.18%   207  125s
  2088  1806 166268.000  189  287 167890.000 165908.000  1.18%   207  130s
H 2088  1715                    167432.00000 165908.000  0.91%   207  134s
  2089  1716 165909.455  122  501 167432.000 165908.000  0.91%   207  137s
H 2090  1631                    167120.00000 165908.000  0.73%   207  141s
  2093  1633 166233.000  167  190 167120.000 165908.000  0.73%   207  146s
H 2094  1551                    165912.00000 165908.000  0.00%   207  152s

Cutting planes:
  Gomory: 1
  Clique: 11
  Mod-K: 1

Explored 2094 nodes (736048 simplex iterations) in 152.33 seconds
Thread count was 8 (of 8 available processors)

Solution count 8: 165912 167120 167432 ... 172018

Optimal solution found (tolerance 1.00e-04)
Best objective 1.659120000000e+05, best bound 1.659080000000e+05, gap 0.0024%

In [26]:
# ADD PRINTING HERE:
# print the total distance travelled by all teams

if m1.status == GRB.OPTIMAL:
    # Print solution
    print("\nTotal distance: {}\n". format(m1.ObjVal))    

# print the optimal schedule for the decision variables

print('\nDecision variables:')
for v in m1.getVars():
    if v.x== 1:
        s=("%s : %g" % (v.varName, v.obj))
        print(s)

Total distance: 165912.0


Decision variables:
x[0,6,10] : 940
x[0,10,0] : 1292
x[0,13,4] : 922
x[0,15,9] : 1586
x[0,18,6] : 1300
x[0,23,2] : 1586
x[1,0,5] : 490
x[1,8,7] : 1074
x[1,10,3] : 814
x[1,11,8] : 874
x[1,19,1] : 1648
x[1,20,11] : 1250
x[2,3,7] : 568
x[2,4,5] : 414
x[2,5,4] : 818
x[2,12,0] : 1056
x[2,13,2] : 594
x[2,21,10] : 920
x[3,5,10] : 1382
x[3,11,6] : 1056
x[3,12,4] : 540
x[3,13,1] : 526
x[3,14,8] : 340
x[3,16,2] : 574
x[4,3,11] : 978
x[4,5,9] : 558
x[4,12,6] : 1468
x[4,15,2] : 2574
x[4,16,7] : 788
x[4,22,0] : 1366
x[5,0,8] : 2226
x[5,6,11] : 2398
x[5,14,6] : 1504
x[5,15,0] : 2352
x[5,16,3] : 1182
x[5,22,2] : 1758
x[6,1,4] : 1430
x[6,2,9] : 1850
x[6,4,8] : 2260
x[6,18,2] : 1702
x[6,22,6] : 1064
x[6,23,0] : 1010
x[7,1,2] : 1250
x[7,3,9] : 1226
x[7,14,4] : 912
x[7,17,1] : 1868
x[7,19,6] : 408
x[7,21,11] : 728
x[8,7,10] : 192
x[8,9,6] : 2084
x[8,11,11] : 202
x[8,17,8] : 1692
x[8,18,1] : 2358
x[8,20,4] : 192
x[9,0,7] : 912
x[9,1,0] : 1160
x[9,6,3] : 1314
x[9,11,5] : 1882
x[9,18,11] : 534
x[9,23,8] : 2206
x[10,7,8] : 446
x[10,8,2] : 268
x[10,9,4] : 1822
x[10,11,1] : 68
x[10,12,10] : 776
x[10,17,6] : 1430
x[11,7,0] : 378
x[11,12,7] : 696
x[11,17,10] : 1502
x[11,19,9] : 784
x[11,20,2] : 386
x[11,21,4] : 494
x[12,5,1] : 1870
x[12,7,5] : 710
x[12,8,3] : 724
x[12,14,11] : 370
x[12,20,9] : 718
x[12,21,8] : 422
x[13,4,10] : 1014
x[13,5,5] : 1408
x[13,16,0] : 224
x[13,19,3] : 1680
x[13,20,6] : 1282
x[13,22,8] : 546
x[14,2,1] : 688
x[14,4,3] : 1100
x[14,8,9] : 862
x[14,13,7] : 500
x[14,16,5] : 630
x[14,19,10] : 1278
x[15,1,6] : 2076
x[15,2,3] : 2164
x[15,6,5] : 696
x[15,9,1] : 1962
x[15,18,8] : 2350
x[15,23,10] : 478
x[16,0,11] : 1068
x[16,2,8] : 368
x[16,6,1] : 1638
x[16,15,4] : 2028
x[16,21,6] : 718
x[16,22,10] : 576
x[17,0,3] : 692
x[17,1,9] : 766
x[17,6,7] : 1092
x[17,9,2] : 398
x[17,15,11] : 1740
x[17,22,5] : 1190
x[18,1,10] : 1434
x[18,7,7] : 2536
x[18,10,9] : 2096
x[18,11,3] : 2170
x[18,17,0] : 666
x[18,23,5] : 2594
x[19,3,0] : 1412
x[19,4,4] : 2378
x[19,8,5] : 590
x[19,10,11] : 844
x[19,12,2] : 922
x[19,20,8] : 432
x[20,3,5] : 1226
x[20,7,3] : 0
x[20,9,10] : 2258
x[20,10,7] : 444
x[20,14,0] : 920
x[20,21,1] : 742
x[21,3,3] : 572
x[21,8,0] : 610
x[21,10,5] : 504
x[21,13,9] : 576
x[21,14,2] : 266
x[21,19,7] : 1142
x[22,0,1] : 500
x[22,2,11] : 944
x[22,9,9] : 1410
x[22,15,7] : 1558
x[22,18,4] : 1798
x[22,23,3] : 1328
x[23,2,6] : 1934
x[23,4,1] : 2346
x[23,5,7] : 1880
x[23,13,11] : 1868
x[23,16,9] : 1800
x[23,17,4] : 1984
y[0,9] : 0
y[1,7] : 0
y[2,4] : 0
y[3,1] : 0
y[4,6] : 0
y[5,2] : 0
y[6,8] : 0
y[7,1] : 0
y[8,10] : 0
y[9,7] : 0
y[10,1] : 0
y[11,9] : 0
y[12,8] : 0
y[13,5] : 0
y[14,9] : 0
y[15,5] : 0
y[16,10] : 0
y[17,2] : 0
y[18,9] : 0
y[19,4] : 0
y[20,0] : 0
y[21,2] : 0
y[22,3] : 0
y[23,6] : 0
z[0,9] : 0
z[1,7] : 0
z[2,4] : 0
z[3,1] : 0
z[4,6] : 0
z[5,2] : 0
z[6,8] : 0
z[7,1] : 0
z[8,10] : 0
z[9,7] : 0
z[10,1] : 0
z[11,9] : 0
z[12,8] : 0
z[13,5] : 0
z[14,9] : 0
z[15,5] : 0
z[16,10] : 0
z[17,2] : 0
z[18,9] : 0
z[19,4] : 0
z[20,0] : 0
z[21,2] : 0
z[22,3] : 0
z[23,6] : 0

#### print the total distance travelled by all teams

In [28]:
print('\nValue of objective function: %g' % m1.objVal)

Value of objective function: 165912

In [ ]:
# print the optimal schedule for Cleveland Browns, 14

In [ ]:
# Would you recommend adding the game pattern and bye week constraints?